#checkout {
  position: absolute;
  width: 40%;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 20;
}

#checkout label {
  display: inline-block;
  width: 12rem;
  text-align: right;
  padding-right: 0.5rem;
}

.form-line {
  padding-bottom: 0.5rem;
}

.error-text {
  color: rgb(218, 2, 2);
  padding-left: 12rem;
}

#checkout .actions {
  padding-top: 1rem;
}
